db/
incremental_db/
outputs_files/
pll_st/
pll_st_sim/
work/
_pointer
*.sld
*.mti
*.mpf
*.vstf
*.mti
*.wlf
*.sft
*.vo
*.xrf
*.qws
*.qip
*.qdf
*.qsys
*.sopcinfo
*.qip
*.qpf
*.qsf
*.pin
*.hex
*.elf
*.objdump
*.flash
*.sof
*.pof
*.stp
*.tmp
*.done
*.bak
*.txt
*.rpt
*.smsg
*.summary
*.html
*.ppf
*.map
*.jdi
enet_pll.v
pll_rx.v
pll_rx_bb.v
ad9226_c5_w5500/simulation/modelsim/adc/
ad9226_c5_w5500/simulation/modelsim/common/
ad9226_c5_w5500/simulation/modelsim/ad9226/ad9226_data_reserved.sv
ad9226_c5_w5500/simulation/modelsim/ad9226/ad9226_data_reserved_2.sv

